# Stage 09

In the lecture, we learned how to create engineered features. Now itâ€™s your turn to apply those ideas to your own project data.

In [1]:
import pandas as pd
import numpy as np

# Example synthetic data (replace with your project dataset)
np.random.seed(0)
n = 100
df = pd.DataFrame({
    'income': np.random.normal(60000, 15000, n).astype(int),
    'monthly_spend': np.random.normal(2000, 600, n).astype(int),
    'credit_score': np.random.normal(680, 50, n).astype(int)
})
df.head()

   income  monthly_spend  credit_score
0   86460           3129           661
1   66002           1191           668
2   74681           1237           734
3   93613           2581           712
4   88013           1296           712

## TODO: Implement at least 2 engineered features here

In [ ]:
# Example template:
df['spend_income_ratio'] = df['monthly_spend'] / df['income']  # TODO: Your feature
# Add rationale in markdown below

### Rationale for Feature 1
Explain why this feature may help a model. Reference your EDA.

In [7]:
# TODO: Add another feature
# Example: df['rolling_spend_mean'] = df['monthly_spend'].rolling(3).mean()
import pandas as pd
import numpy as np

# Generate synthetic customer data\n",
np.random.seed(42)
n = 200
df = pd.DataFrame
customer_id: range(1, n+1)
age: np.random.normal(45, 12, n).astype(int).clip(18, 80)
income: np.random.lognormal(10.5, 0.4, n).round(2)
credit_score: np.random.normal(700, 50, n).astype(int).clip(300, 850)
monthly_spend: np.random.normal(1500, 400, n).round(2)
transaction_count: np.random.poisson(8, n)
region: np.random.choice(['North', 'South', 'East', 'West'])

### Rationale for Feature 2
Explain why this feature may help a model. Reference your EDA.

In [8]:
# Create spending-to-income ratio feature
df['spend_income_ratio'] = df['monthly_spend'] / df['income']

# Display basic statistics
print("Spending-to-Income Ratio Statistics:")
print(f"Mean: {df['spend_income_ratio'].mean():.4f}")
print(f"Std: {df['spend_income_ratio'].std():.4f}")
print(f"Range: {df['spend_income_ratio'].min():.4f} - {df['spend_income_ratio'].max():.4f}")

df[['income', 'monthly_spend', 'spend_income_ratio']].head()

TypeError: 'type' object is not subscriptable